---
import ThemeSelector from "./ThemeSelector.astro";

const navItems = [
  { text: "Home", url: "/" },
  { text: "About", url: "/about" },
  { text: "Contact", url: "/contact" },
];
---

<header class="fixed top-0 mt-2 w-full">
  <nav class="mx-auto flex w-fit items-center justify-center rounded-full border-2 border-gray-500 px-3">
    {
      navItems.map((navItem) => (
        <a
          class="px-2 transition hover:text-blue-600 dark:hover:text-blue-400"
          aria-label={navItem.text}
          href={navItem.url}
        >
          {navItem.text}
        </a>
      ))
    }
    <ThemeSelector />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply bg-white/50 shadow-lg ring-1 ring-white/10 backdrop-blur dark:bg-gray-800/90;
    }
  }
</style>
